$baby: #F9EBEA;

p{
    @extend .show-color;
    a{

            color: $baby;
        }
}

.show-color{

    a{
        color: #17202A;
    background-color: pink;
    }

}


#over-link{
            text-style: bold;
            color: $baby;
}

form {

    display: block;
    margin-top: 15 px;
}

.page-header{
    padding-top: 15 px;
}