{% extends "layout.html" %}

{% block title %}
    Singup
{% endblock %}


    {% block conteudo %}
        <div class="conteudo">

                <h3>Sing up</h3>
                <form action="{{ url_for('singup') }}" method="post">
                    <div class="form-group">
                        <input class="form-control" name="user_name_su" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="user_pass_su" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-secundary">Sing up</button>
                    </div>
                </form>
        </div>

    {% endblock %}