{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <h1>Book Details</h1>

    <ul>
            <li>ISBN: {{ book.isbn }}</li>
            <li>Title: {{ book.title }}</li>
            <li>Author: {{ book.author }}</li>
            <li>Year: {{ book.year }}</li>
            <li>Avarage Rating: {{ google_rating }} </li>
    </ul>

    <h2>Reviews</h2>
    <ul>
        {% for review in reviews %}
            <li>" {{ review.comment }} " </li>
        {% else %}
            <li>No Reviews for this book.</li>
        {% endfor %}
    </ul>

{% endblock %}
