{% extends "layout.html" %}

{% block title %}
    LIST_REVIEWS
{% endblock %}

{% block body %}

    <h1>{{ size }} Reviews by you {{ user }}</h1>

    <table class="table table-striped table-responsive table-bordered-no">
        <thead>
            <tr>
                <th>Title</th>
                <th>Comment</th>
                <th>Rate</th>
                <th>ISBN</th>
            </tr>
        </thead>

        <tbody>
        {% for review in review_list %}
            <tr>
                <td>{{ review.title }}</td>
                <td> {{ review.comment }} </td>
                <td> {{ review.rate}} </td>

                <td> <a href="{{ url_for('book_page', book_isbn=review.book_isbn) }}">{{ review.book_isbn}} </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




{% endblock %}