{% extends "layout.html" %}

{% block title %}
    BY Year List
{% endblock %}

{% block body %}
    <h1>All {{ size }} books by {{ year }} </h1>
    
    <table class="table table-striped table-responsive table-bordered-no">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
            </tr>
        </thead>

        <tbody>

        {% for i in year_list %}
                        <tr>
                            <td> <a href="{{ url_for('book_page', book_isbn=i.isbn) }}">
                                {{ i.isbn }}
                                </a>
                            </td>
                            <td> {{ i.title }} </td> 
                            <td> {{ i.author}} </td>
                            <td> {{ i.year}} </td>        
                        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
