{% extends "layout.html" %}

{% block title %}
    ISBN_LIST
{% endblock %}

{% block body %}
    <h1>All {{ size }} books by ISBNS</h1>
    
    <table class="table table-striped table-responsive table-bordered-no">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Tools</th>
            </tr>
        </thead>

        <tbody>
        {% for isbn in isbn_list %}
                       <tr>
                           <td>
                                <a href="{{ url_for('book_page', book_isbn=isbn.isbn) }}">
                                {{ isbn.isbn }}
                                </a>
                            </td>
                            <td> {{ isbn.title }} </td> 
                            <td> {{ isbn.author}} </td>
                            <td> {{ isbn.year}} </td>        
                            <td>
                                <!-- para criar um novo review

                                <a href="{{ url_for('create', book_isbn=isbn.isbn) }}"> Send a Review</a> -->
                                <a class="btn btn-primary" href="{{ url_for('new_review', book_isbn=isbn.isbn, book_name=isbn.title) }}">Send Review</a>

                            </td>

                        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
