<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channel Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

</head>
<body>

    <div id="user_logged"></div>
    <a href="{{ url_for('logout')}}" >Sing Out</a>
    <h1>Please, pick up a channel or create a new one!</h1>

    <form id="user-login" target="_blank" action="{{ url_for('chat')}}" method="POST" enctype="multipart/form-data">
        <input type="text" id="username" placeholder="User Name" disable="true" value="{{ user }}">
        <!--<input type="text" id="channel" placeholder="Type new channel">-->
        <!--<b>OR</b>-->

        <select id="room_name" name="room_name">
            {% for i in rooms %}
                <option value="{{ i|title }}">{{ i|title }}</option>

            {% endfor %}
        </select>
        <input id="hidden_room" type="text" type="hidden" value="{{i}}">
        <i>to</i>
        <button type="submit" id="send-button" >Connect</button>
    </form>
</body>
</html>