<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channel Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
</head>
<body>

    <div id="user_logged"></div>
    <a href="{{ url_for('logout')}}" >Sing Out</a>
    <h1>Please, pick up a channel or create a new one!</h1>

    <div id="myAlert"></div>
    <div id="myConfirm"></div>
    <div id="myPrompt"></div>

    <form id="user-login" target="_blank" action="{{ url_for('index') }}" >
        <input type="text" id="username" placeholder="User Name">

        <select>
            <option value="channel1">Admin_Conv</option>
            <option value="channel2">Lamas_Lovers</option>
            <option value="channel3">Just_Dance_The_Game</option>
        </select>

        <button type="submit" id="send-button">Connect</button>
    </form>



</body>
</html>